.stories-wrapper {
  margin-top: 2%;
  margin-left: 7%;
}

.top-story-title {
  color: #19B697;
  text-align:left;
  margin-left: 1%;
  font-size: 35px;
}

.story-container {
  margin-bottom: 2%;
}

.storiesList-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 1%;
  margin-top: 1%;
  justify-content: space-around;
  cursor: pointer;
  align-items:center;
}

.storiesList-info-container {
  width: 80%;
}

.story-title {
  font-size: 25px;
}

.story-abstract {
  font-size: 20px;
}

.story-img {
  float: right;
  width:  200px;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
}