.stories-wrapper {
  margin-left: 5%;
}

.story-container {
  margin-bottom: 2%;
}

.storiesList-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 1%;
  margin-top: 1%;
  justify-content: space-around;
}

.storiesList-info-container {
  width: 80%;
  
}

.story-title {
  font-size: 25px;
}

.story-abstract {
  font-size: 20px;
}

.story-img {
  float: right;
  width:  200px;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
}