.stories-wrapper {
  margin-top: 2%;
  margin-left: 7%;
}

.top-story-title {
  color: #19B697;
  text-align:left;
  margin-left: 1%;
  font-size: 35px;
}

.story-container {
  margin-bottom: 2%;
}

.storiesList-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 1%;
  margin-top: 1%;
  justify-content: space-around;
  cursor: pointer;
  align-items:center;
}

.storiesList-info-container {
  width: 80%;
}

.story-title {
  font-size: 25px;
}

.story-abstract {
  font-size: 20px;
}

.story-img {
  float: right;
  width:  200px;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
}

@media screen and (max-width: 76.25em) {
 .top-story-title {
  font: 85px;
 }

 .story-img {
  margin-left: 1%;
  /* width: 30%;
  height: 40%; */
  /* width: 30%;
  height: 50%;
  margin-left: 2%;
  object-fit:fill; */
 }
 
 .storiesList-info-container {
   width: 100%;
  }
}

@media screen and (max-width: 48.75em) {
  
  .storiesList-container {
    display: flex;
    flex-direction: column;
  }
  .storiesList-info-container {
    width: 100%;
  }

  .story-img {
    display: none;
  }
}