.SingleStory-container {
  margin-top: 1%;
  margin-left: 6%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.SingleStory-title {
  font-size: 38px;
}

.SingleStory-img {
  width: 80%;
  border-radius: 15px;
  display: inline;
}

.SingleStory-abstract {
  font-size: 28px;
}

.link-text {
  text-decoration: none;
}

.back-link {
  margin-top: 2%;
  font-size: 20px;
  font-weight: bold;
  background-color: transparent;
  border: none;
  resize: none;
  outline: none;
  margin-bottom: 5%;
}

.back-link:hover, .link-text:hover {
  color: #19B697;
}

@media screen and (max-width: 65.625em) {
  .SingleStory-img {
    width: 90%;
  }
}

@media screen and (max-width: 38.125em) {
  .SingleStory-title {
    font-size: 35px;
  }

  .SingleStory-img {
    width: 100%;
  }
}

@media screen and (max-width: 35.625em) {
  .SingleStory-title {
    font-size: 32px;
  }
}

@media screen and (max-width: 32.5em) {
  .SingleStory-title {
    font-size: 30px;
  }
}

@media screen and (max-width: 28em) {
  .SingleStory-title {
    font-size: 25px;
  }
}