.SingleStory-container {
  margin-top: 1%;
  margin-left: 6%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.SingleStory-title {
  font-size: 38px;
  text-align: center;
}

.SingleStory-img {
  border-radius: 15px;
}

.SingleStory-abstract {
  font-size: 28px;
}

.link-text {
  text-decoration: none;
}

.SingleStory-title, .SingleStory-img, .SingleStory-abstract {
  width: 90vw;
}

.back-link {
  margin-top: 2%;
  font-size: 20px;
  font-weight: bold;
  background-color: transparent;
  border: none;
  resize: none;
  outline: none;
  margin-bottom: 5%;
}

.back-link:hover, .link-text:hover {
  color: #19B697;
}