.Header-title:hover, .home:hover, select:hover {
  color: #00FFCE;
}

.Nav {
  background-color: #19B697;
  color: white;
  width: 100vw;
  padding-left: 5%;
  position: sticky;
  top: 0;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  
}

.Nav-wrapper {
  display: flex;
  flex-direction: row;
  margin-left: 2%;
  align-items: center;
}

.home, .section-select, .go-back {
  font-size: 25px;
}

.home {
  margin-right: 5vw;
}

::placeholder, .section-select, .Header-title, .home, .go-back {
  cursor: pointer;
  font-weight: bold;
  color: white;
  margin-left: 1%;
  background-color: transparent;
  border: none;
  resize: none;
  outline: none;
}

.Nav-go-back {
  width: 100%;
}