.Header {
  background-color: #282c34;
  width: 100vw;
  font-size: calc(15px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  color: white;
  text-align: center;
  /* position: sticky; */
}

.Header-title:hover, .home:hover, select:hover {
  color: #00FFCE;
}

.Header-title {
  font-size: 40px;
}

.Nav {
  background-color: #19B697;
  color: white;
  width: 100vw;
  position: sticky;
  padding-left: 5%;
}

.Nav-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 30%;
}

.home, .section-select {
  font-size: 25px;
}

::placeholder, .section-select, .Header-title, .home {
  cursor: pointer;
  font-weight: bold;
  color: white;
  margin-left: 1%;
  background-color: transparent;
  border: none;
  resize: none;
  outline: none;
}

.Nav-go-back {
  width: 10%;
}